<% layout("./layout/boilerplate") %>

<body>
    <br><br>
    <h3>All listing</h3>
    <!-- <form action="/listing/new" method="get"><button>creat post</button></form>
    <ul> -->
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3" >
        <% for( let item of data){ %>
            
            <div class="card col-8 " style="width: 33% !important; height: 25% !important; " >
                <a href="/Listing/<%= item._id %>" class="show"> 
                    <img src="<%= item.image %>" class="card-img-top" alt="<%= item.title %>">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= item.title %> <br></b>
                            &#8377; <%= item.price.toLocaleString("en-IN") %> / night    
                        </p>
                    </div>
                </a>    
            </div>
            
        <% } %>
    </div>
</body>

